<section class="sec-5">
    <h1 class="bg-black color-white p-10">Education</h1>

    <div class="edu-details">
        <mat-card class="exp-card">
            <h3 class="color-blue">
                Rajiv Gandhi University of Knowledge Technologies-AP
            </h3>
            <div>Andhra Pradesh, India.</div>
            <div class="mt-3">
                <span class="bold">Qulification : </span>
                <span> Bachelor of Technology in Computer Scienece</span>
            </div>
            <div class="mt-2"><span class="bold">CGPA :</span> 8.78</div>
            <div class="mt-2"><span class="bold">Duration: </span> 2016-2020</div>
        </mat-card>
        <mat-card class="exp-card">
            <h3 class="color-blue">
                Rajiv Gandhi University of Knowledge Technologies-AP
            </h3>
            <div>Andhra Pradesh, India.</div>
            <div class="mt-3">
                <span class="bold">Qulification : </span>
                <span> Pre University Course</span>
            </div>
            <div class="mt-2"><span class="bold">CGPA :</span> 9.3</div>
            <div class="mt-2"><span class="bold">Duration: </span> 2014-2016</div>
        </mat-card>
    </div>
</section>