mat-card {
    background: white;
    color: black;
}

.bold {
    font-weight: bold !important;
}

h3 {
    margin: 0;
}

.edu-details {
    width: 500px;
    margin: auto;
}

.color-blue {
    color: blue;
}