<section id="content1" class="container-fluid sec-1">
    <h1>Hi, I'm <span class="name">Pavan Kalyan C</span></h1>
    <div class="scroll-text">
        <span class="skills">A {{ typewriter_display }}</span
    ><span class="fake-cursor">|</span>
    </div>

    <p class="intro">
        Self-taught, highly adaptive, passionate developer.Who always wants to solve real life problems and curious about tech.
    </p>
    <div class="social-icons mb-3">
        <a hidden href="https://www.linkedin.com/in/pavan-kalyan-c/" target="_blank" #linkedin></a>
        <button class="linkedin icon-btn" (click)="linkedin.click()" mat-fab color="primary" aria-label="Linkedin profile">
      <i class="sm-icon fab fa-linkedin"></i>
    </button>
        <a hidden href="https://github.com/pavankalyan-codes" target="_blank" #github></a>
        <button (click)="github.click()" class="github icon-btn" mat-fab color="primary" aria-label="Github profile">
      <i class="sm-icon fab fa-github"></i>
    </button>

        <a hidden href="https://codepen.io/pavankalyan-c" target="_blank" #codepen></a>
        <button (click)="codepen.click()" class="icon-btn codepen" mat-fab color="primary" aria-label="Leetcode profile">
      <i class="sm-icon color-black fab fa-codepen"></i>
    </button>
    </div>
</section>