.exp-card {
    background: white;
    color: black;
}

.company-icon {
    width: 150px;
    cursor: pointer;
}

mat-card {
    padding: 30px;
}

.role {
    display: flex;
    align-items: center;
}

.duration {
    color: grey;
}

.exp-content {
    padding: 100px;
}