.exp-card {
    background: white;
    color: black;
}

h2 {
    text-align: center;
    margin: 0;
}

h5 {
    margin: 0;
}

.company-icon {
    width: 150px;
    cursor: pointer;
}

mat-card {
    padding: 30px;
}

.role {
    display: flex;
    align-items: center;
}

.duration {
    color: grey;
}

.exp-content {
    padding: 100px;
}

@media (max-width: 500px) {
    .exp-content {
        padding: 20px;
    }
    .role {
        margin-top: 10px;
    }
}

.exp-row>div,
h5 {
    margin: 5px;
}