mat-card {
    background-color: white;
    width: 80%;
    margin: auto;
    color: black;
}

.project-icons {
    width: 140px;
    display: flex;
    justify-content: space-between;
}

i {
    font-size: 20px;
}