<section id="content6" class="sec-6">
    <h1 class="bg-black color-white p-10">Contact</h1>

    <div class="d-flex flex-column contact-icons justify-evenly pd-5">
        <div class="d-flex">
            <button mat-fab color="dark" aria-label="Example icon button with a home icon">
        <i class="fas fa-phone-alt"></i>
      </button>
            <div class="contact-item">
                <a href="tel:+918985004387">+918985004387</a>
            </div>
        </div>
        <div class="d-flex">
            <button mat-fab color="dark" aria-label="Example icon button with a home icon">
        <i class="fas fa-envelope"></i>
      </button>
            <div class="contact-item">
                <a href="mailto:someone@example.com">pavankalyan141640@gmail.com</a>
            </div>
        </div>
        <div class="d-flex">
            <button mat-fab color="dark" aria-label="Example icon button with a home icon">
        <i class="fab fa-github"></i>
      </button>
            <div class="contact-item">
                <a href="https://github.com/pavankalyan-codes">github.com/pavankalyan-codes</a
        >
      </div>
    </div>

    <div class="d-flex">
      <button
        mat-fab
        color="black"
        aria-label="Example icon button with a home icon"
      >
        <i class="fab fa-linkedin"></i>
      </button>
      <div class="contact-item">
        <a href="https://www.linkedin.com/in/pavan-kalyan-c/"
          >linkedin.com/in/pavan-kalyan-c/</a
        >
      </div>
    </div>
  </div>
</section>