.contact-icons {
    height: 500px;
}

.justify-evenly {
    justify-content: space-evenly;
}

.pd-5 {
    padding: 20px;
}

.contact-item {
    margin-left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 500px) {
    .contact-item {
        margin-left: 10px;
    }
}