<section id="content4" class="sec-4">
    <h1 class="bg-black color-white p-10">Skills</h1>
    <div class="skills">
        <div class="d-flex skill-icons justify-center">
            <i class="fab fa-html5 html" title="HTML5"></i>
            <i class="fab fa-css3-alt css" title="CSS3"></i>
            <i class="fab fa-sass scss" title="Sass"></i>
            <i class="fab fa-bootstrap bootstrap" title="Bootstrap"></i>
            <i class="fab fa-js-square js" title="Javascript"></i>
        </div>
        <div class="d-flex lib-icons skill-icons justify-center">
            <i class="fab fa-angular angular" title="Angular"></i>
            <i class="fab fa-node-js node" title="Node"></i>
            <i class="fab fa-java java" title="Java"></i>
        </div>

        <div class="d-flex skill-icons justify-center">
            <i class="fab fa-git-alt git" title="Git"></i>
            <div class="image-icon" title="Heroku">
                <img class="heroku" src="https://image.flaticon.com/icons/png/512/873/873120.png" alt="" />
            </div>
        </div>
    </div>
</section>