<div>
  <div class="top-menu hide">
    <div class="top-banner">
      <div class="menu">
        <mat-icon aria-hidden="false" aria-label="hamburger menu"
          >menu</mat-icon
        >
      </div>
      <div class="banner-text">
        <h1>Pavan kalyan C</h1>
        <h2>Front End Developer</h2>
      </div>
      <div></div>
    </div>
  </div>
  <div class="d-flex">
    <nav class="sidenav" id="scrollspy">
      <ul class="nav nav-pills flex-column">
        <li class="h-200 m-auto d-flex">
          <figure>
            <img
              class="dp"
              src="https://media-exp3.licdn.com/dms/image/C5603AQHvvj8K9Z8qdg/profile-displayphoto-shrink_200_200/0/1623336843171?e=1628726400&v=beta&t=syodc8lb3kbe7jWXQOccRmIKMzS3A_nlclCB6ZVhJxs"
              alt=""
            />
          </figure>
        </li>
        <hr />
        <li class="nav-item">
          <a class="nav-link active" href="#content1"
            ><i class="fas fa-address-card"></i> About
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#content2">
            <i class="fas fa-briefcase"></i> Experience
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#content3"
            ><i class="fas fa-laptop-code"></i> Projects
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#content4"
            ><i class="fas fa-chart-bar"></i> Skills
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#content5"
            ><i class="fas fa-user-graduate"></i> Education
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#content6"
            ><i class="fas fa-paper-plane"></i> Contact
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="assets/PavanKalyanC_Resume.pdf"
            ><i class="fas fa-folder"></i> Resume
          </a>
        </li>
      </ul>
    </nav>

    <div class="main">
      <div id="content1">
        <app-about></app-about>
      </div>
      <div id="content2">
        <app-experience></app-experience>
      </div>
      <div id="content3">
        <app-projects></app-projects>
      </div>
      <div id="content4">
        <app-skills></app-skills>
      </div>

      <div id="content5">
        <app-education></app-education>
      </div>
      <div id="content6">
        <app-contact></app-contact>
      </div>
    </div>
  </div>
</div>
