<div>
    <div class="top-menu hide">
        <div class="top-banner">
            <div class="menu">
                <mat-icon aria-hidden="false" aria-label="hamburger menu">menu</mat-icon>
            </div>
            <div class="banner-text">
                <h1>Pavan kalyan C</h1>
                <h2>Front End Developer</h2>
            </div>
            <div></div>
        </div>
    </div>
    <div class="d-flex">
        <nav class="sidenav" id="scrollspy">
            <ul class="nav nav-pills flex-column">
                <li>
                    <figure>
                        <img class="dp" src="https://media-exp3.licdn.com/dms/image/C5603AQHvvj8K9Z8qdg/profile-displayphoto-shrink_200_200/0/1623336843171?e=1628726400&v=beta&t=syodc8lb3kbe7jWXQOccRmIKMzS3A_nlclCB6ZVhJxs" alt="" />
                    </figure>
                </li>
                <hr />
                <li class="nav-item">
                    <a class="nav-link active" href="#content1"> About </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#content2"> Experience </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#content3"> Projects </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#content4"> Skills </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#content5"> Education </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#content6"> Contact </a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link"> Resume </a>
                </li>
            </ul>
        </nav>

        <div class="main">
            <section id="content1" class="container-fluid sec-1">
                <h1>Hi, I'm Pavan Kalyan C</h1>

                <span class="skills">A {{ typewriter_display }}</span
        ><span class="fake-cursor">|</span>
            </section>

            <section id="content2" class="container-fluid sec-2">
                <h1>Experience</h1>

                <p></p>
            </section>

            <section id="content3" class="container-fluid bg-warning">
                <h1>Projects</h1>

                <p></p>
            </section>

            <section id="content4" class="container-fluid bg-info">
                <h1>Skills</h1>

                <p></p>
            </section>

            <section id="content5" class="container-fluid bg-dark">
                <h1>Education</h1>

                <p></p>
            </section>
            <section id="content6" class="container-fluid sec-6">
                <h1>Contact</h1>

                <p></p>
            </section>
        </div>
    </div>
</div>