body {
    position: relative;
}

@media (max-width: 960px) {
    .top-menu {
        display: block !important;
    }
    .intro {
        font-size: 7vw !important;
        padding: 50px 10px 40px 0px !important;
    }
    .sec-1 {
        height: auto;
    }
    .sidenav {
        display: none;
    }
    .main {
        width: 100% !important;
    }
}

.sec-6 {
    background: gold;
}

ul.nav-pills {
    top: 20px;
    position: fixed;
    right: 80%;
    left: 0%;
}

div.col-8 div {
    height: 500px;
}

section {
    height: 100vh;
}

.dp {
    border-radius: 50%;
    border: 5px solid #009688;
}

.w-100 {
    width: 100%;
}

.hide {
    display: none;
}

.top-banner {
    background: white;
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin: 0px 10px;
    position: relative;
    height: 70px;
    h1 {
        font-size: 20px;
    }
    h2 {
        font-size: 14px;
    }
    .menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;
    }
    .banner-text {
        margin: 2px 0px 0px 0px;
        position: absolute;
        left: calc(50% - 100px);
        width: 200px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

hr {
    background: #d4cece;
    width: 100%;
}

.sidenav {
    width: 20%;
}

.main {
    width: 80%;
}

figure {
    width: 80%;
    height: 80%;
    margin: auto;
}

.intro {
    font-size: 3vw;
    padding: 50px 100px 100px 0px;
}

.name {
    background-image: linear-gradient(0deg, #dc5d39, #70cd6b 50%, #70cd6b);
    border-radius: 1px;
    padding: 0px 10px;
}

.icon-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    &::ng-deep .mat-button-wrapper {
        padding: 0;
        line-height: 0;
    }
}

.sm-icon {
    font-size: 30px;
}

.linkedin {
    background: rgb(0, 119, 181);
}

.codepen {
    background: white;
}

.color-black {
    color: black;
}

.github {
    background: black;
}

.social-icons {
    justify-content: space-between;
    display: flex;
    width: 200px;
}

img {
    margin: auto;
    
}

.h-200 {
    height: 200px;
}

.fake-cursor {
    font-size: 20px;
    animation: blink 0.5s infinite;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    70% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
}

a.active.nav-link {
    background-color: #a9aaba45 !important;
    color: black;
    border-left: 5px solid black;
    border-radius: 0px;
}

section {
    color: white;
    padding: 50px;
}

.skills {
    font-size: 20px;
}
