/* You can add global styles to this file, and also import other style files */

body {
    font-family: "Varela Round", sans-serif;
}

h1 {
    font-weight: bold;
    font-size: 5vw;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
